{% comment %}
  Collection Slider Header Section
{% endcomment %}

{{ 'section-collection-slider-header.css' | asset_url | stylesheet_tag }}

<div
  class="collection-slider-header"
  id="section-{{ section.id }}"
  style="{% if section.settings.show_top_border %}border-top: 1px solid var(--neutral-50);{% endif %} {% if section.settings.show_bottom_border %}border-bottom: 1px solid var(--neutral-50);{% endif %}"
>
  <div class="collection-slider-header__header">
    <div class="collection-slider-header__header-left">
      {% if section.settings.main_heading != blank %}
        <h2 class="collection-slider-header__title heading--decorative">
          {{ section.settings.main_heading }}
        </h2>
      {% endif %}

      <span class="collection-slider-header__divider"></span>

      {% if section.settings.subtitle != blank %}
        <h3 class="collection-slider-header__subtitle heading--l">
          {{ section.settings.subtitle }}
        </h3>
      {% endif %}
    </div>

    <nav class="collection-slider-header__nav custom-scrollbar">
      <ul class="collection-slider-header__nav-list">
        {% for block in section.blocks %}
          <li class="collection-slider-header__nav-item">
            <button
              class="collection-slider-header__nav-button body--uppercase {% if forloop.first %}active{% endif %}"
              data-index="{{ forloop.index0 }}"
            >
              {{ block.settings.nav_label }}
            </button>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <div class="collection-slider-header__images-container">
    {% for block in section.blocks %}
      <div
        class="collection-slider-header__image-wrapper {% if forloop.first %}active{% endif %}"
        data-image-index="{{ forloop.index0 }}"
      >
        <picture>
          {% if block.settings.mobile_image != blank %}
            <source
              media="(max-width: 767px)"
              srcset="
                {{ block.settings.mobile_image | image_url: width: 400 }} 1x,
                {{ block.settings.mobile_image | image_url: width: 800 }} 2x
              "
            >
          {% endif %}

          {% if forloop.first %}
            {{
              block.settings.desktop_image
              | image_url: width: 1920
              | image_tag:
                loading: 'eager',
                decoding: 'async',
                alt: block.settings.nav_label,
                class: 'collection-slider-header__image',
                widths: '400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2400, 3000',
                sizes: '(max-width: 400px) 400px, (max-width: 600px) 600px, (max-width: 800px) 800px, (max-width: 1000px) 1000px, (max-width: 1200px) 1200px, (max-width: 1400px) 1400px, (max-width: 1600px) 1600px, (max-width: 1800px) 1800px, (max-width: 2000px) 2000px, (max-width: 2400px) 2400px, 100vw'
            }}
          {% else %}
            {{
              block.settings.desktop_image
              | image_url: width: 1920
              | image_tag:
                loading: 'lazy',
                decoding: 'async',
                alt: block.settings.nav_label,
                class: 'collection-slider-header__image',
                widths: '400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2400, 3000',
                sizes: '(max-width: 400px) 400px, (max-width: 600px) 600px, (max-width: 800px) 800px, (max-width: 1000px) 1000px, (max-width: 1200px) 1200px, (max-width: 1400px) 1400px, (max-width: 1600px) 1600px, (max-width: 1800px) 1800px, (max-width: 2000px) 2000px, (max-width: 2400px) 2400px, 100vw'
            }}
          {% endif %}
        </picture>
      </div>
    {% endfor %}
  </div>

  {% for block in section.blocks %}
    <div
      class="collection-slider-header__slider-section {% if forloop.first %}active{% endif %}"
      data-index="{{ forloop.index0 }}"
    >
      <div class="collection-slider-header__slider-container">
        <div class="collection-slider-header__slider-content">
          {% if block.settings.slider_heading != blank %}
            <h2 class="heading--2xl collection-slider-header__slider-heading">
              {{ block.settings.slider_heading }}
            </h2>
          {% endif %}

          {% if block.settings.slider_description != blank %}
            <p class="body collection-slider-header__slider-description">
              {{ block.settings.slider_description }}
            </p>
          {% endif %}

          {% if block.settings.collection != blank and block.settings.button_label != blank %}
            <a href="{{ block.settings.collection.url }}" class="body collection-slider-header__slider-link">
              {{ block.settings.button_label }}
              {% render '_icon-arrow-submit-dark' %}
            </a>
          {% endif %}
        </div>

        {% if block.settings.collection != blank %}
          <div class="collection-slider-header__slider-wrapper">
            <div class="collection-slider-header__slider splide" id="slider-{{ section.id }}-{{ forloop.index0 }}">
              <div class="splide__arrows">
                <button class="splide__arrow splide__arrow--prev">{% render '_icon-arrow-see-less' %}</button>
                <button class="splide__arrow splide__arrow--next">{% render '_icon-arrow-see-more' %}</button>
              </div>
              <div class="splide__track">
                <div class="splide__list">
                  {% for product in block.settings.collection.products limit: block.settings.products_to_show %}
                    <article class="splide__slide collection-slider-header__slide">
                      <a href="{{ product.url }}" class="collection-slider-header__product-link">
                        <div class="collection-slider-header__product-image-wrapper">
                          {% if product.featured_image != blank %}
                            <img
                              src="{{ product.featured_image | image_url: width: '600' }}"
                              alt="{{ product.featured_image.alt | escape }}"
                              loading="lazy"
                              width="{{ product.featured_image.width }}"
                              height="{{ product.featured_image.height }}"
                              class="collection-slider-header__product-image"
                              decoding="async"
                            >
                          {% else %}
                            {{
                              'product-1'
                              | placeholder_svg_tag: 'collection-slider-header__product-image placeholder'
                            }}
                          {% endif %}
                        </div>

                        <h3 class="body--bold collection-slider-header__product-title">{{ product.title }}</h3>

                        {% if product.metafields.custom.fabric_description != blank %}
                          <p class="small collection-slider-header__product-material">
                            {{ product.metafields.custom.fabric_description }}
                          </p>
                        {% endif %}

                        <p class="small collection-slider-header__product-price">
                          {% if product.compare_at_price > product.price %}
                            <span class="collection-slider-header__product-price--sale">
                              {{- product.price | money_with_currency -}}
                            </span>
                            <span class="collection-slider-header__product-price--compare">
                              Was
                              {{ product.compare_at_price | money_with_currency -}}
                            </span>
                          {% else %}
                            {{ product.price | money_with_currency }}
                          {% endif %}
                        </p>
                      </a>

                      {% if product.metafields.custom.product_colour_variants %}
                        <div class="product-card__swatches">
                          <a
                            href="{{ product.url }}"
                            class="product-card__swatch-link"
                            aria-label="View {{ product.title }} variant"
                            style="border: 1px solid var(--neutral-950); background-color: {{ product.metafields.custom.swatch_colour.value.colour | strip | default: 'var(--neutral-200)' }}; padding: 2px; background-clip: content-box;"
                          >
                          </a>

                          {% for variant in product.metafields.custom.product_colour_variants.value limit: 3 %}
                            {% assign variant_name = variant.metafields.custom.swatch_colour.value.name | strip %}
                            {% assign variant_colour = variant.metafields.custom.swatch_colour.value.colour | strip %}
                            <a
                              href="{{ variant.url }}"
                              class="product-card__swatch-link"
                              aria-label="View {{ variant.title }} variant"
                              style="border: {% if variant_name == 'White' %} 2px solid var(--neutral-200) {% else %} 2px solid {{ variant_colour | default: 'var(--neutral-950)' }}{% endif %}; background-color: {{ variant_colour | default: 'var(--neutral-200)' }};"
                            >
                            </a>
                          {% endfor %}

                          {% if product.metafields.custom.product_colour_variants.value.count > 3 %}
                            <p class="small">+{{ product.metafields.custom.product_colour_variants.value.count | minus: 3 }}</p>
                          {% endif %}
                        </div>
                      {% endif %}
                    </article>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

<script
  src="{{ "section-collection-slider-header.js" | asset_url }}"
  data-section-id="{{ section.id }}"
  defer
></script>

{% schema %}
{
  "name": "Collection Slider Header",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "New Collections"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Seasonal Favorites"
    },
    {
      "type": "checkbox",
      "id": "show_top_border",
      "label": "Show top border",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bottom_border",
      "label": "Show bottom border",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "navigation_item",
      "name": "Navigation Item",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "nav_label",
          "label": "Navigation Label",
          "default": "Collection Name"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image (optional)"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "slider_heading",
          "label": "Slider Heading",
          "default": "New In Now"
        },
        {
          "type": "textarea",
          "id": "slider_description",
          "label": "Slider Description",
          "default": "Layer up with premium wool/cashmere blends."
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label",
          "default": "Shop Now"
        },
        {
          "type": "range",
          "id": "products_to_show",
          "min": 3,
          "max": 12,
          "step": 1,
          "default": 10,
          "label": "Maximum products to show"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Slider Header",
      "category": "Collection",
      "blocks": [
        {
          "type": "navigation_item",
          "settings": {
            "nav_label": "New Arrivals",
            "slider_heading": "New Arrivals"
          }
        },
        {
          "type": "navigation_item",
          "settings": {
            "nav_label": "Suits",
            "slider_heading": "Suits Collection"
          }
        }
      ]
    }
  ],
  "enabled_on": {
    "templates": ["index", "page", "article", "blog"]
  }
}
{% endschema %}
